name: Run Selenium tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: jelastic/maven:3.9.12-temurinjdk-21.0.9-almalinux-9
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Chrome and dependencies
        run: |
          yum update -y
          yum install -y chromium chromium-headless
          yum install -y libXss1 libappindicator1 libgconf-2-4 libxss1 xdg-utils fonts-liberation xfonts-encodings xfonts-utils

      - name: Run Maven tests (ignore test failures)
        working-directory: com.parasoft.parabank.tests
        run: mvn -Dmaven.test.failure.ignore=true test