name: Run Selenium tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Public
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Selenic Data
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/com.parasoft.parabank.tests/selenic_data
          key: selenic-data-${{ github.run_id }}
          restore-keys: |
            selenic-data-

      - name: Create selenic.properties
        run: |
          cat > ${{ github.workspace }}/selenic.properties << 'EOF'
          parasoft.eula.accepted=true
          selenic.license.use_network=true
          license.network.use.specified.server=true
          selenic.license.network.edition=automation_edition
          license.network.url=${{ secrets.LSS_URL }}
          license.network.auth.enabled=true
          license.network.user=${{ secrets.LSS_USER }}
          license.network.password=${{ secrets.LSS_PASS }}
          EOF
          echo "selenic.properties created."

      - name: Copy Selenic from container
        run: |
          CONTAINER_ID=$(docker create parasoft/selenic:latest)
          docker cp $CONTAINER_ID:/opt/parasoft/selenic ${{ github.workspace }}/.
          docker rm -v $CONTAINER_ID

      - name: Run Maven tests
        run: |
          \cp -f selenic.properties selenic/.
          cd ${{ github.workspace }}/com.parasoft.parabank.tests
          mvn -Dmaven.test.failure.ignore=true test \
            -DargLine=-javaagent:${{ github.workspace }}/selenic/selenic_agent.jar=captureDom=true,selfHealing=true,data=selenic_data
          java -jar ${{ github.workspace }}/selenic/selenic_analyzer.jar -data selenic_data -report report

      - name: Upload Selenic Report
        uses: actions/upload-artifact@v4 # Use the latest version
        with:
          name: Selenic Report # Name the artifact (e.g., 'build-results' or 'logs')
          path: ${{ github.workspace }}/com.parasoft.parabank.tests/report        # The file, directory, or wildcard pattern to archive
          retention-days: 90   # Retain the artifact for 90 days